@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root {
    --scrollbar-track-color-light: transparent;
    --scrollbar-thumb-color-light: #888;
    --scrollbar-thumb-hover-color-light: #757575;
    --scrollbar-track-color-dark: transparent;
    --scrollbar-thumb-color-dark: #666;
    --scrollbar-thumb-hover-color-dark: #747474;
}

body {
    font-family: "Dosis", sans-serif;
}

.light-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: var(--scrollbar-track-color-light);
}

.light-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color-light);
    border-radius: 5px;
}

.light-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color-light);
}

.dark-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: var(--scrollbar-track-color-dark);
}

.dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color-dark);
    border-radius: 5px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color-dark);
}